# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: LeoLan's Blog
subtitle:  有时候正是不报期望的人做出了人们不敢期望之事！
description: Better late than never
author: LeoLan
language: zh-Hans
timezone: Asia/Shanghai

# URL
## If your site is put in a subdirectory, set url as 'http://yoursite.com/child' and root as '/child/'
url: https://www.leolan.top
coding_url: https://www.leolan.top
root: /
permalink: posts/:abbrlink/
permalink_defaults:

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
#禁止编译README.md文件，也可以在文件中增加yml文件头layout: false，---结尾
skip_render:
    - baidu_verify_dc4dBM4StW.html
    - googled7e43f3624e0f703.html
    - CNAME
    - README.md
    - .nojekyll
    - Staticfile

#强制包含.nojekyll文件（放在source下），这样hexo g时，.开头的文件具不会被忽略，适用于5.0以下版本的next主题（github屏蔽了一些文件夹）
include:
  - .nojekyll

# abbrlink config 生成文章永久链接（利于SEO）需要安装插件
abbrlink:
  alg: crc16  # 算法：crc16(default) and crc32 
  rep: dec    # 进制：dec(default) and hex

baidu_url_submit:  #百度链接推送，推送刚刚生成的永久链接
  count: 5 ## 比如3，代表提交最新的三个链接
  host: www.leolan.top ## 在百度站长平台中注册的域名
  token: kZ5xboXBFPxQ0g7N ## 请注意这是您的秘钥， 请不要发布在公众仓库里!
  path: /baidu_urls.txt ## 文本文档的地址， 新链接会保存在此文本文档里


# Writing  官网：https://hexo.io/zh-cn/docs/writing.html
new_post_name: :year-:month-:day-:title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link: true # Open external links in new tab
filename_case: 0
render_drafts: false
post_asset_folder: false   #新建文章时自动生成本地存放图片等资源的文件夹
relative_link: false
future: true
highlight:
  enable: true
  line_number: true
  auto_detect: true
  tab_replace:

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss

# Pagination  单独页面文章数目，需要安装以下3个插件
#npm install --save hexo-generator-index
#npm install --save hexo-generator-archive
#npm install --save hexo-generator-tag
## Set per_page to 0 to disable pagination
index_generator:
  per_page: 5

archive_generator:
  per_page: 20
  yearly: true
  monthly: true

tag_generator:
  per_page: 10

pagination_dir: page

# Extensions 主题选择
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: next5.0.1
#theme: next0.4


# Deployment 自动部署到仓库
## 官方文档Docs: https://hexo.io/docs/deployment.html   有部署到各种服务器的方法
## 参考：http://www.lxway.com/240950852.htm
#不管是github还是coding，type都填写git
deploy:
- type: git
  repo: git@git.coding.net:leolan/blog.git,master
  message: 'LeoLan updated：{{now("YYYY-MM-DD HH:mm:ss")}}'  #这个是commit的说明，因为是发布站点，方便看到发布时间。
- type: git
  repo: git@github.com:MyLeoLan/blog.git,master
  message: 'LeoLan updated：{{now("YYYY-MM-DD HH:mm:ss")}}'
- type: git
  repo: git@git.oschina.net:leolan/blog.git,master
  message: 'LeoLan updated：{{now("YYYY-MM-DD HH:mm:ss")}}'
#deploy:
#- type: git
#  repo:
#- type: heroku（另一种云平台）
#  repo:




# Disqus #Disqus评论系统
disqus_shortname: leolan


#plugins: #插件，例如生成 RSS 和站点地图的
#hexo-generator-sitemap
#- hexo-generator-baidu-sitemap
plugins:
  hexo-generator-feed
  hexo-generator-baidu-sitemap

sitemap:
  path: sitemap.xml    
baidusitemap:
  path: baidusitemap.xml


# Social links 社交链接
social:
  GitHub: https://github.com/myleolan
  Coding: https://coding.net/u/leolan
  Cloud: http://quickconnect.to/myleolan
  OSchina: https://git.oschina.net/leolan
  #Twitter: https://twitter.com/lmintlcx
  #Zhihu: http://www.zhihu.com/people/lmintlcx
  #Douban: http://www.douban.com/people/lmintlcx
  #Weibo: http://weibo.com/u/3233729080

duoshuo_shortname: leolan
# 多说热评文章 true 或者 false
duoshuo_hotartical: true
# 多说分享服务
duoshuo_share: true
# 百度分享服务
baidushare: true

#打赏功能
reward_comment: 您的支持将鼓励我继续创作,非常感谢！
alipay: http://ofyfogrgx.bkt.clouddn.com//pay/alipay.jpg
wechatpay: http://ofyfogrgx.bkt.clouddn.com//pay/weixinpay.png

#站点建立时间
since: 2016

#百度分析
baidu_analytics: dc0e85252eeff3a87aa87f35d92a8d33

#本地搜索
search:
  path: search.xml
  field: post
  format: html
  limit: 10000

